<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SpoTube</title>
  <meta name="description" content="A spotify/youtube playlist translator">
  <meta name="author" content="John Jorgensen">

  <link rel="stylesheet" href="{{ url_for('homepage', filename='styles.css') }}">

</head>

<body>
  <!-- your content here... -->
  <h1>{{ yup }}</h1>
  <button onclick="location.href = '/login/spotify'">TEST</button>
  <script src="{{ url_for('homepage', filename='main.js') }}"></script>
</body>
</html>