<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SpoTube</title>
	<meta name="description" content="A spotify/youtube playlist translator">
	<meta name="author" content="John Jorgensen">
	<link rel="stylesheet" href={{ css_location }}>
</head>

<body>
	{% block navbar %}
	<nav>
		{% for nav_button in nav_buttons %}
		<button type="button" class=navbutton>{{ nav_button }}</button>
		{% endfor %}
	</nav>
	{% endblock %}
	<button onclick="location.href = '/login/spotify'">TEST</button>
	<script src="{{ url_for('homepage', filename='main.js') }}"></script>
</body>
</html>